.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.black {
  background-color: #e7e7e7;
}

.white {
  background-color: #0aa384;
}
